* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  background-color: #fcfcfc;
}

.navbar {
  position: relative;
  top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafaf8;
  box-shadow: 0 10px 15px -3px rgba(255, 3, 3, 0.1),
    0 4px 6px -2px rgba(252, 0, 0, 0.05);
  z-index: 9999;
}

.navbar_brand {
  width: 100px;
}

.brand_logo {
  width: 100%;
}

.navbar_nav_items {
  display: flex;
}

.button_primary {
  margin-top: 9px;
  margin-right: 9px;
  border: 0;
  background-image: linear-gradient(
    to right,
    #d70f64 0%,
    rgb(212, 202, 202),
    rgb(54, 44, 44) 100%
  );
  background-size: 200% auto;
  padding: 4px 3px;
  color: white;
  text-align: center;
  transition: 0.5s;
  border-radius: 0px;
  font-weight: bold;
  box-shadow: 0 0 4px rgb(231, 10, 132);
  cursor: pointer;
  display: block;
}
.button_primary {
  float: right;
}
.button_primary:hover {
  background-position: right center;
}

.nav_links {
  flex: 1;
}

.nav_links ul {
  margin-left: 30px;
  display: inline;
}

.nav_links ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 20px;
}
.nav_links ul a {
  color: #d70f64;
  text-decoration: none;
  font-size: 14px;
}

.nav_links ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.4s;
}
.nav_links ul li:hover::after {
  width: 100%;
}

.hero_container {
  display: flex;
  position: relative;
  width: 100%;
}

.hero_image {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  box-shadow: 0 10px 15px -3px rgba(255, 3, 3, 0.1),
    0 4px 6px -2px rgba(252, 0, 0, 0.05);
  z-index: 9999;
}
.hero_description {
  position: absolute;
  flex-direction: row-reverse;
  z-index: 99;
}

.hero_text {
  margin-top: 100px;
  margin-left: 400px;
  font-size: 32px;
  color: black;
}

.hero_text_1 {
  margin-top: 115px;
  margin-left: 1000px;
}

.hero_description form {
  background: #ffffff;
  padding: 5px;
  border-radius: 0;
  margin-top: 20px;
  margin-left: 400px;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(14, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hero_description form input {
  flex: 0.5;
  /* border: none; */
  outline: none;
  padding-left: 6px;
  font-size: 15px;
}

.hero_text span {
  color: #d70f64;
}

.hero_text_1 span {
  color: #d70f64;
}
.menu {
  padding-top: 250px;
  border-radius: 4px;
}

.menu_heading {
  background-color: #d70f64;
  font-size: 20px;
  padding: 40px 550px;
  text-align: center;
  line-height: 2px;
}
.menu_items_row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.menu_items {
  flex-basis: 25%;
  background: #d7e9f7;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  overflow: hidden;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px;
}

.menu_items:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.quote {
  padding-top: 130px;
  padding-bottom: 150px;
}
.quote_content {
  background-color: #d7e9f7;
  position: relative;
  text-align: center;
}
.quote_content span {
  color: #d70f64;
}

footer {
  width: 100%;
  bottom: 0;
  position: relative;
  background: linear-gradient(
    to right,
    #7b6c72 0%,
    rgb(87, 61, 61),
    rgb(34, 72, 77) 100%
  );
  color: #fff;
  padding: 10px 0 0px;
  border-top-left-radius: 130px;
  font-size: 13px;
  line-height: 20px;
}

.row {
  width: 89%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 20%;
  padding: 10px;
}
.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.logo_f {
  margin-bottom: 20px;
}

.col h3 {
  width: fit-content;
  font-size: 20px;
  margin-bottom: 60px;
}
.email-id {
  width: fit-content;
  border-bottom: 2.5px solid #ccb;
  margin: 10px 0;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}
form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2.5px solid #ccb;
  margin-bottom: 50px;
}
form .far {
  font-size: 18px;
  margin-right: 10px;
  color: rgb(38, 161, 228);
}
form input {
  width: 100%;
  background: transparent;
  color: #ccb;
  border: 0;
  outline: none;
}
form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
form button .fas {
  font-size: 16px;
  color: rgb(38, 161, 228);
}
/* .social-media-icons .fab .fa{
   
    width: 35px;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    cursor: pointer;
} */

hr {
  width: 90%;
  border: 0;
  border-bottom: 2.5px solid #ccb;
  margin: 20px auto;
}
.copyright {
  text-align: center;
}
.animation {
  width: 95%;
  height: 5px;
  background: #0ae3eb;
  border-radius: 4px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.animation span {
  width: 15px;
  height: 100%;
  background: rgb(0, 0, 0);
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 3s linear infinite;
}

@keyframes moving {
  0% {
    left: -50px;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 700px) {
  /* nav section */
  .navbar {
    position: relative;
    top: 0;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    background-color: #fafafaf8;
    box-shadow: 0 10px 15px -3px rgba(255, 3, 3, 0.1),
      0 4px 6px -2px rgba(252, 0, 0, 0.05);
    z-index: 999;
  }
  /* header section */

  .hero_container {
    display: flex;
    position: relative;
    width: 100%;
  }
  .hero_image {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 15px -3px rgba(255, 3, 3, 0.1),
      0 4px 6px -2px rgba(252, 0, 0, 0.05);
    z-index: 9999;
  }

  .hero_text {
    margin-top: 40px;
    margin-left: 10px;
    font-size: 25px;
    color: black;
  }

  .hero_text_1 {
    font-size: 23px;
    margin-top: 190px;
    margin-left: 137px;
  }
  .hero_description {
    position: absolute;
    flex-direction: row-reverse;
    z-index: 3;
  }
  .hero_description form {
    background: #ffffff;
    padding: 5px;
    border-radius: 0;
    margin-top: 20px;
    margin-left: 70px;
    display: flex;
    box-shadow: 0 10px 15px -3px rgba(14, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  .hero_description form input {
    flex: auto;
    border: none;
    outline: none;
    padding-left: 6px;
    font-size: 15px;
  }

  /* menu items */

  .menu_items_row {
    flex-direction: column;
  }
  .menu {
    padding-top: 20px;
    border-radius: 4px;
  }

  .menu_heading {
    background-color: #d70f64;
    padding: 27px 0px;
    text-align: center;
    line-height: 2px;
  }
  /* footer sec */

  footer {
    bottom: unset;
  }
  .animation {
    width: 85%;
  }
  .col {
    flex-basis: 100%;
  }
  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 100%;
  }
}
